.product-text{

  height:30rem;
  width:17rem;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.product-text > * {
  margin: 0%;
}

.product-desc{
  font-size: 0.85rem;
}